@import './variables.scss';
@import './geral.scss';

.rodape {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $background-terminal;
    color: white;
    text-align: center;
}