@import './variables.scss';

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $bakcground-secundary-color;
}

.btn-about {
    padding: 10px 40px;
    background: #7BB1CB;
    border-radius: 20px;
}