@import './menu.scss';
@import './footer.scss';
@import './variables.scss';
@import './geral.scss';

.main-container {
    margin-top: $espacamento-padrao;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;

    @media screen and (max-width: 900px) {
        .title {
            font-size: 1.3em;
        }

        .console-container {
            width: 90%;
        }
    }

    .list-social-medias {
        padding: 0;
        list-style: none;
        display: flex;
    }

    .list-social-medias li {
        padding: 20px;
        font-size: 2em;
    }

    .list-social-medias a {
        color: white;
    }
}

.console-container {
    width: 70%;

    .console-aba-topo {
        display: flex;
        background: #e4e3e5;
        align-items: center;
        justify-content: space-between;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        padding: 10px;

        .balls {
            display: flex;
            background: #e4e3e5;

            .console-ball {
                margin-right: 5px;
                height: 12px;
                width: 12px;
                border-radius: 50%;
            }
    
            .console-ball:nth-child(1) {
                background: green;
            }
    
            .console-ball:nth-child(2) {
                background: tomato;
            }
    
            .console-ball:nth-child(3) {
                background: white;
            }
        }

        .console-ball-end {
            height: 20px;
            width: 20px;
            background: white;
            color: grey;
            float: right;
            cursor: pointer;
            border-radius: 50%;
            padding: 0;
        }
    }

    .console-display {
        background-color: $background-terminal;
        text-align: left;
        padding-left: 20px;
        padding-top: 10px;

        h2 {
            font-size: 1em;
            color: #FF95BD;
        }

        p {
            padding-top: 5px;
            padding-bottom: 20px;
            padding-right: 15px;
        }

        a {
            color: #7BB1CB;
            text-decoration: none;
        }
    }
}

.item-console::before {
    content:'>';
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.projects-container {
    margin-top: $espacamento-padrao;
    text-align: center;
    color: white;

    h2 {
        font-size: 1.5em;
    }
}

.cards-projetos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .card {
        text-align: center;
        height: 350px;
        background-color: $background-terminal;
        padding: 25px;
        border-radius: 15px;
        margin: 20px;
        flex-basis: 250px;
        flex-grow: 1;
        box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.158);
        transition: all 0.5s;
        color: white;
    }

    .card a {
        color: white;
        text-decoration: none;
    }

    .image-card {
        width: 100px;
        padding-bottom: 1em;
    }

    p {
        padding-bottom: 50px;
    }

    .card:nth-child(2) {
        
        p:nth-child(3) {
            padding-bottom: 90px;
        }
    }

    .card:nth-child(1) {
        p:nth-child(3) {
            padding-bottom: 70px;
        }
    }
}

.contact-container {
    margin-top: $espacamento-padrao;

    h2 {
        text-align: center;
        color: white;
        font-size: 1.5em;
    }
}

.card-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .card {
        width: 500px;
        background-color: $background-terminal;
        padding: 25px;
        border-radius: 15px;
        margin: 20px;
        box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.158);
        transition: all 0.5s;
        color: white;
        font-size: 1.2em;
    
        a {
            text-decoration: none;
            color: grey;
        }

        p:nth-child(1) {
            padding-bottom: 1.5em;
        }
    }
}