* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #778899;
}

.btn-about {
  padding: 10px 40px;
  background: #7BB1CB;
  border-radius: 20px;
}

.navigation-header {
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
@media screen and (max-width: 900px) {
  .navigation-header .navigation-menu {
    display: block;
    color: white;
    font-size: 1.5em;
  }
  .navigation-header .navigation-menu-list {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #778899;
    color: white;
  }
  .navigation-header .navigation-menu-list li {
    padding-top: 50px;
  }
  .navigation-header .navigation-menu-list-toggle {
    left: 0;
  }
}

.navigation-menu-list {
  display: flex;
  list-style: none;
}
.navigation-menu-list li {
  padding-right: 30px;
}
.navigation-menu-list a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-menu {
  display: none;
}
.navigation-menu #check {
  display: none;
}

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #778899;
}

.btn-about {
  padding: 10px 40px;
  background: #7BB1CB;
  border-radius: 20px;
}

.main-container {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
@media screen and (max-width: 900px) {
  .main-container .title {
    font-size: 1.3em;
  }
  .main-container .console-container {
    width: 90%;
  }
}
.main-container .list-social-medias {
  padding: 0;
  list-style: none;
  display: flex;
}
.main-container .list-social-medias li {
  padding: 20px;
  font-size: 1.3em;
}
.main-container .list-social-medias a {
  color: white;
}

.console-container {
  width: 70%;
}
.console-container .console-aba-topo {
  display: flex;
  background: #e4e3e5;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 10px;
}
.console-container .console-aba-topo .balls {
  display: flex;
  background: #e4e3e5;
}
.console-container .console-aba-topo .balls .console-ball {
  margin-right: 5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.console-container .console-aba-topo .balls .console-ball:nth-child(1) {
  background: green;
}
.console-container .console-aba-topo .balls .console-ball:nth-child(2) {
  background: tomato;
}
.console-container .console-aba-topo .balls .console-ball:nth-child(3) {
  background: white;
}
.console-container .console-aba-topo .console-ball-end {
  height: 20px;
  width: 20px;
  background: white;
  color: grey;
  float: right;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
}
.console-container .console-display {
  background-color: #242b3E;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}
.console-container .console-display h2 {
  font-size: 1em;
  color: #FF95BD;
}
.console-container .console-display p {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.console-container .console-display a {
  color: #7BB1CB;
  text-decoration: none;
}

.item-console::before {
  content: ">";
  opacity: 1;
  animation: pisca 0.5s infinite;
}

@keyframes pisca {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.projects-container {
  margin-top: 1.5em;
  text-align: center;
  color: white;
}

.cards-projetos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cards-projetos .card {
  text-align: center;
  height: 350px;
  background-color: #242b3E;
  padding: 25px;
  border-radius: 15px;
  margin: 20px;
  flex-basis: 250px;
  flex-grow: 1;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.158);
  transition: all 0.5s;
  color: white;
}
.cards-projetos .card a {
  color: white;
  text-decoration: none;
}
.cards-projetos .card:nth-child(2) p:nth-child(3) {
  padding-bottom: 45px;
}
.cards-projetos .image-card {
  width: 150px;
  padding-bottom: 1em;
}
.cards-projetos p {
  padding-bottom: 20px;
}

.contact-container {
  margin-top: 1.5em;
}
.contact-container h2 {
  text-align: center;
  color: white;
}

.card-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-contact .card {
  width: 500px;
  background-color: #242b3E;
  padding: 25px;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.158);
  transition: all 0.5s;
  color: white;
  font-size: 1.2em;
}
.card-contact .card a {
  text-decoration: none;
  color: grey;
}
.card-contact .card p:nth-child(1) {
  padding-bottom: 1.5em;
}

/*# sourceMappingURL=main.css.map */
