/* AJUSTE GERAL */ 
/* NÃO MEXER */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* FIM AJUSTES GERAL */


/* AJUSTES TEXTOS  PARA TELA PC */
.texto-section-home {
    padding-top: 3em;
    color: #4F4F4F;
    font-weight: bold;
    margin-bottom: 2em;
}

.alternar-cor-texto {
    color: #6A5ACD;
}
/* FIM AJUSTES TEXTOS */


/* INICIO CABEÇALHO || HEADER  */
.main-header {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    border-bottom: 3px solid grey;
}

.navigation-header {
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #6A5ACD;
    color: white;
}

.navigation-menu-list {
    display: flex;
    list-style: none;
}

.navigation-menu-list li {
    padding-right: 30px;
}

.navigation-menu-list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.navigation-menu {
    display: none;
}

#check {
    display: none;
}
/* FIM CABEÇALHO || HEADER */


/* INICIO PRIMARY SECTION */
.section-home {
    display: flex;
    margin-top: 2em;
    justify-content: space-around;
}

.section-home-div-left h3 {
    font-size: 1.5em;
}

.photo-home {
    width: 600px;
}

.link-github {
    border-radius: 20px;
    padding: 20px 30px;
    background: #6A5ACD;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.icon-github {
    padding-left: 10px;
}
/*FIM PRIMARY SECTION */


/* INICIO SECOND SECTION */
.section-about-me {
    margin-top: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div-sobre {
    color: #6A5ACD;
}

.div-sobre span {
    font-size: 1.5em;
}

.div-sobre h2 {
    font-size: 1.1em;
}

.div-sobre h3 {
    color: #4F4F4F;
    font-size: 1em;
}

.div-more-info {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;

}
.photo-more {
    width: 300px;
    margin-right: 10px;
}

.more-more {
    display: flex;
    flex-direction: column;
}

.more-more-title {
    color: #4F4F4F;
}

.more-more-title span {
    color: #6A5ACD;
}

.more-more-menu {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.about-menu {
    list-style: none;
    font-size: 1.1em;
}

.about-menu li {
    color: #4F4F4F;
    padding-top: 15px;
}

/* SECOND SECTION > SPAN */
.negrito {
    font-weight: bold;
    color: #6A5ACD;
}

.icon-circle-right {
    color: #4F4F4F;
}
/* FINAL SECOND SECTION > SPAN */

.curriculum {
    margin-top: 45px;
}

.link-curriculo {
    border-radius: 20px;
    padding: 10px 15px;
    background: #6A5ACD;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

/* FIM SECOND SECTION */


/* INICIO THREE SECTION || SKILLS */

.section-skills {
    margin-top: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.section-skills h2 {
    color: #6A5ACD;
}

/* AJUSTES BARRA DE PROGRESSO > SKILS */
.container ul {
    padding: 0;
    margin: 0;
}

.container li {
    position: relative;
    list-style: none;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.text {
    float: right;
}

.container li::before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background: rgba(106,90,205, 0.3);
    border-radius: 100px;
}

.container li::after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background: rgba(106,90,205, 1);
    border-radius: 100px;
    animation-duration: 2.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.html::after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 90%;
    }
}

li.css::after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 70%;
    }
}

li.js::after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 60%;
    }
}

li.jq::after {
    animation-name: jq;
}

@keyframes jq {
    to {
        width: 30%;
    }
}

/* FIM AJUSTES BARRA DE PROGRESSOS > SKILSS */
/* FIM THREE SECTION || SKILLS */

/* INICIO FOUR SECTION || PROJECTS */ 
.section-projects {
    margin-top: 4em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.section-projects h2 {
    color: #6A5ACD;
}

.section-projects-container {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin-right: 1em;
    margin-top: 1em;
    width: 300px;
    height: 250px;
    background: rgba(106,90,205, .3);
    border-radius: 10px;
}

/* FIM FOUR SECTION || PROJECTS */

/* INICIO FIVE SECTION || ME CONTRATE */
.section-me-contrate {
    margin-top: 4em;
    margin-left: 2.5em;
    margin-right: 2.5em;    
}

.section-me-contrate h2 {
    color: #6A5ACD;
}

.div-me-contrate {
    color: #4F4F4F;
}

.div-container-me-contrate {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.div-me-contrate-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.photo-social-media {
    width: 600px;
}

.card-social-media {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.link-social-media {
    margin-top: 10px;
    border-radius: 20px;
    padding: 15px 50px;
    background: #6A5ACD;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.link-social-media span {
    padding-left: 10px;
}

/* FIM FIVE SECTION || ME CONTRATE */

/* INICIO RODAPÉ */
    .rodape-section {
        display: flex;
        flex-direction: column;
        background:#6A5ACD;
        height: 4em;
        align-items: center;
    }

    .rodape-section h5 {
        margin-top: 0.8em;
        color: white;
    }
/* FIM RODAPÉ */

/* RESPONSIVIDADE (MOBILE) */
@media (max-width: 900px) {
    .texto-section-home {
        padding-top: 0em;
        color: #4F4F4F;
        font-weight: bold;
        margin-bottom: 2em;
    }

    .navigation-menu {
        font-size: 1.8em;
        color: white;
        display: block;
    }

    .navigation-menu-list {
        position: fixed;
		width: 100%;
		height: 100vh;
		background: #1d075f;
		top: 80px;
		left: -100%;
		text-align: center;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation-menu-list li {
        padding-top: 50px;
    }

    .navigation-menu-list-toggle {
        left: 0;
    }

    .section-home {
        display: flex;
        height: 15em;
        margin-top: 3em;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .photo-home {
        display: none;
    }

    .section-home-div-left h3 {
        font-size: 1.3em;
    }

    .link-github {
        border: 1px solid;
        border-radius: 20px;
        padding: 15px 20px;
        background: #6A5ACD;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
    }

    .div-more-info {
        display: flex;
        flex-direction: column;
    }

    .more-more-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu-right {
        margin-top: 20px;
    }

    .about-menu {
        font-size: 1em;
    }

    .card {
        margin-top: 1em;
    }

    .photo-social-media {
        display: none;
    }
}